@model IEnumerable<CRUD_Personas_Entidades.clsDepartamentos>

@{
    ViewData["Title"] = "ListadoDepartamento";
}

<h1>ListadoDepartamento</h1>

<p>
    @Html.ActionLink("Insertar", "insertarDepartamento", "departamento")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    @Html.ActionLink("Edit", "editarDepartamento", "departamento", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "borrarDepartamento", "departamento", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
