@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model CRUD_Personas_ASP.Models.ViewModels.clsEditarPersonaVM

}

<form method="POST">
    <input type="text" name="Nombre" value="@Model.Persona.Nombre" />
    <br />
    <input type="text" name="Apellidos" value="@Model.Persona.Apellidos" />
    <br />
    <input type="tel" name="Telefono" value="@Model.Persona.Telefono" />
    <br />
    <input type="text" name="Direccion" value="@Model.Persona.Direccion" />
    <br />
    <input type="datetime" name="FechaNacimiento" value="@Model.Persona.FechaNacimiento" />
    <br />
    <input type="text" name="Foto" value="@Model.Persona.Foto" />
    <br />

    <select name="IdDepartamento">
        @for (int i=0; i< @Model.ListadoCompletoDepartamentos.Count(); i++)
        {
            @if (Model.Persona.IdDepartamento+1 == Model.ListadoCompletoDepartamentos[i].Id)
            {
                <option value=@Model.ListadoCompletoDepartamentos[i].Id selected="@i">@Model.ListadoCompletoDepartamentos[i].Nombre</option>
            }else{
                <option value=@Model.ListadoCompletoDepartamentos[i].Id>@Model.ListadoCompletoDepartamentos[i].Nombre</option>
            }
        }
    </select>

    <input type="submit" value="enviar" />
</form>